<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" [opened]="false" [disableClose]="false">
        <ng-container *ngFor="let item of sideMenuItems;let i=index">
            <a (click)="openSubMenu(i,item.subMenu)" mat-button [routerLink]="item.url"
                [routerLinkActive]="['isActive']" class="menu-button">
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                    <mat-icon fxFlex="20px" class="menu-icon">{{item.icon}}</mat-icon>
                    <span [matTooltip]=" item.label.length > 25 ? item.label : ''" matTooltipPosition="above"
                        matTooltipHideDelay="10">{{item.label}}</span>
                </div>
                <mat-icon fxLayoutAlign="end center" class="menu-icon" [class.rotate-90-Right]="isOpen[i]"
                    *ngIf="item.subMenu">chevron_right
                </mat-icon>

            </a>
            <!-- <mat-divider></mat-divider> -->
            <!-- SUB MENU -->
            <ng-container *ngFor="let subMenu of item.subMenuItems ? item.subMenuItems : null;let s=index">
                <div [ngClass]="isOpen[i] ? 'submenu' : 'sub-menu-close'">
                    <a mat-button [routerLink]="subMenu.url ? subMenu.url : ''" [routerLinkActive]="['isActive']"
                        class="menu-button ellipsis">
                        <mat-icon class="sub-menu-icon">emergency</mat-icon>
                        <span [matTooltip]=" subMenu.label.length > 20 ? subMenu.label : ''" matTooltipPosition="above"
                            matTooltipHideDelay="10">{{subMenu.label}}</span>
                    </a>
                </div>
            </ng-container>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content class="content mat-elevation-z4">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>